{% extends 'core/base.html'%}
{% block content%}
<div class=" container mt-5">
<h1  class="text-warning mb-5 border-bottom">SERVICES</h1>\
<div class="row text-white text-center mb-5">
    <div class="col-sm-4">
        <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3 i-color"></i>
        <h3>SEO</h3>
        <p class="ss.color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam temporibus provident dolor?</p>
    </div>
    <div class="col-sm-4">
        <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>
        <h3>Web Design</h3>
        <p class="ss.color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam temporibus provident dolor?</p>
    </div>
    <div class="col-sm-4">
        <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
        <h3>Web Deveopment</h3>
        <p class="ss.color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam temporibus provident dolor?</p>
    </div>
</div>
<div class="row text-white text-center mb-5">
    <div class="col-sm-4">
        <i class="fa-brands fa-android fa-2x  mb-3 i-color"></i>
        <h3>android</h3>
        <p class="ss.color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam temporibus provident dolor?</p>
    </div>
    <div class="col-sm-4">
        <i class="fa-brands fa-apple fa-2x  mb-3 i-color"></i>
        <h3>Ios</h3>
        <p class="ss.color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam temporibus provident dolor?</p>
    </div>
    <div class="col-sm-4">
        <i class="fa-solid fa-ad fa-2x mb-3 i-color"></i>
        <h3>advertizing</h3>
        <p class="ss.color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam temporibus provident dolor?</p>
    </div>
</div>
<div class="row text-white text-center mb-5">
    <div class="col-sm-4">
        <i class="fa-solid fa-pencil fa-2x mb-3 i-color"></i>
        <h3>Logo Design</h3>
        <p class="ss.color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam temporibus provident dolor?</p>
    </div>
    <div class="col-sm-4">
        <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>
        <h3>Hosting</h3>
        <p class="ss.color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam temporibus provident dolor?</p>
    </div>
    <div class="col-sm-4">
        <i class="fa-solid fa-headset fa-2x mb-3 i-color"></i>
        <h3>Support</h3>
        <p class="ss.color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam temporibus provident dolor?</p>
    </div>
</div>
</div>
{% endblock content%}